<div>
  <h2 id="page-heading" data-cy="EjemploHeading">
    <span jhiTranslate="ejemploJdlApp.ejemplo.home.title">Ejemplos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ejemploJdlApp.ejemplo.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ejemplo"
        [routerLink]="['/ejemplo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ejemploJdlApp.ejemplo.home.createLabel"> Crear nuevo Ejemplo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ejemplos?.length === 0">
    <span jhiTranslate="ejemploJdlApp.ejemplo.home.notFound">Ningún Ejemplos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ejemplos && ejemplos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="campo1">
            <div class="d-flex">
              <span jhiTranslate="ejemploJdlApp.ejemplo.campo1">Campo 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="capo2">
            <div class="d-flex">
              <span jhiTranslate="ejemploJdlApp.ejemplo.capo2">Capo 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="campo3">
            <div class="d-flex">
              <span jhiTranslate="ejemploJdlApp.ejemplo.campo3">Campo 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="campo4">
            <div class="d-flex">
              <span jhiTranslate="ejemploJdlApp.ejemplo.campo4">Campo 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="campo5">
            <div class="d-flex">
              <span jhiTranslate="ejemploJdlApp.ejemplo.campo5">Campo 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ejemplo of ejemplos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ejemplo', ejemplo.id, 'view']">{{ ejemplo.id }}</a>
          </td>
          <td>{{ ejemplo.campo1 }}</td>
          <td>{{ ejemplo.capo2 }}</td>
          <td>{{ ejemplo.campo3 }}</td>
          <td>{{ ejemplo.campo4 | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'ejemploJdlApp.Genero.' + ejemplo.campo5 }}">{{ ejemplo.campo5 }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ejemplo', ejemplo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ejemplo', ejemplo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(ejemplo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
